{
  "parser": "typescript",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^\\.(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
