// colors
$cv-background-color: #34495e;
$cv-secondary-bg-color: #fff;
$cv-main-color: #2980b9;
$cv-black-color: #000;

// dimensions
$cv-header-min-height: 14rem;

// margin and padding
$cv-basic-margin-padding: 15px;

// border
$cv-border-radius: 2px;
$cv-divider-border: 2px solid $cv-background-color;

// font
$cv-font-family: 'Exo 2', Helvetica, sans-serif
